@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
.app {
    width: 100%;
    .top {
        width: 800px;
        height: 450px;
        text-align: center;
        line-height: 2.5;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: red;
        color: $ms-color-white;
        position: absolute;
        top: 50px;
        left: 200px;
        z-index: 9999;
    }
}